In [4]:
import grouped_distribution_table as gdt

grouped_table = gdt.groupedTable('Tabla', 'mujeres.csv')
grouped_table.generate_table()

,Intervals,Absolute frequency,Cumulative frequency,Absolute relative frequency,Cumulative relative frequency,Class mark,Percentage
MUJERES,,,,,,,
1,[43.2 46.77],2,2,0.057143,0.057143,44.985714,5.714286
2,[46.77 50.34],4,6,0.114286,0.171429,48.557143,11.428571
3,[50.34 53.91],7,13,0.200000,0.371429,52.128571,20.000000
4,[53.91 57.49],10,23,0.285714,0.657143,55.700000,28.571429
5,[57.49 61.06],5,28,0.142857,0.800000,59.271429,14.285714
6,[61.06 64.63],3,31,0.085714,0.885714,62.842857,8.571429
7,[64.63 68.2 ],4,35,0.114286,1.000000,66.414286,11.428571